@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,wght@1,900&family=Poppins:wght@100;200;300;400;500;600&display=swap');

:root{
    --main-color:rgb(0, 255, 225);
    --black:#222;
    --white:#fff;
    --light-black:#777;
    --light-white:#fff9;
    --dark-bg:rgba(0,0,0,.7);
    --light-bg:#eee;
    --border:.1rem solid var(--black);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
    --text-shadow:0 1.5rem 3rem rgba(0,0,0,.3);
}
*{
    font-family: 'Bodoni Moda', serif;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
}

html{
    font-size: 63;
    overflow-x: hidden;
}

html::-webkit-scrollbar{
    width:1rem;
}

html::-webkit-scrollbar-track{
    background-color: var(--white);
}

html::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
}

section{
    padding: 5rem 3%;
}

@keyframes fadeIn {
    0%{
        transform: scale(0);
        opacity: 0;
    }
}

.heading{
    background-size: cover !important;
    background-position: center !important;
    padding-top: 3rem;
    padding-bottom: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heading h1{
    font-size: 3rem;
    text-transform: uppercase;
    color: var(--white);
    text-shadow: var(--text-shadow);
}

.btn{
    display: inline-block;
    background: var(--black);
    margin-top: 1rem;
    color: var(--white);
    font-size: 1.7rem;
    padding: 1rem 3rem;
    cursor: pointer;
}

.btn:hover{
    background: var(--main-color);

}

.services-title{
    text-align: center;
    font-size: 4rem;
    text-transform: uppercase;
    color: var(--black);
}

.header{
    position: sticky;
    top:0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: var(--black);
    display: flex;
    padding-top: 2rem;
    padding-bottom: 2rem;
    box-shadow: var(--box-shadow);
    align-items: center;
    justify-content: space-between;
}

.header .logo{
    font-size: 1.7rem;
    color:var(--main-color);
}

.header .logo:hover{
    color: var(--white);
}

.header .navbar a{
    font-size: 1.2rem;
    margin-left: 1.2rem;
    color: var(--white);
}

.header .navbar a:hover{
    color: var(--main-color);
}

#menu-btn{
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--main-color);
    display: none;
}

/* Home Section Start */

.home{
    padding: 0;
}

.home .slide{
    text-align: center;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover !important;
    background-position: center !important;
    min-height: 38rem;
}

.home .slide .content{
    width: 85rem;
    display: none;
}

.home .swiper-slide-active .content{
    display: inline-block;
}

.home .slide .content span{
    display: block;
    font-size: 2.2rem;
    color: var(--main-color);
    padding-bottom: 1rem;
    animation:fadeIn .2s linear backwards .3s;
}

.home .slide .content h3{
    font-size: 6vw;
    color: var(--white);
    text-transform: uppercase;
    line-height: 1;
    text-shadow: var(--text-shadow);
    padding: 1rem 0;
    animation:fadeIn .2s linear backwards .4s;
}

.home .slide .content .btn{
    animation:fadeIn .2s linear backwards .5s;
}

/* Home Section End */

/* Packages Start */

.packages{
    background: var(--light-bg);
}

.packages .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 1.5rem;
}

.packages .box-container .box{
    border: var(--border);
    box-shadow: var(--box-shadow);
    background-color: var(--white);
}

.packages .box-container .box .image{
    height: 25rem;
    overflow: hidden;
}

.packages .box-container .box .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: .2s linear;
}

.packages .box-container .box .content{
    padding: 2rem;
    text-align: center;
}

.packages .box-container .box .content h3{
    font-size: 2.5rem;
    color: var(--black);
}

.packages .box-container .box .content p{
    font-size: 1.5rem;
    color: var(--black);
    line-height: 2;
    padding: 1rem 0;
}

.packages .loadmore{
    text-align: center;
    margin-top: 2rem;
}

/* Packages End */

/* Packages Include Start */

.packages-title{
    text-align: center;
    font-size: 4rem;
    text-transform: uppercase;
    color: var(--black);
}

.packagesinclude .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 1.5rem;
    margin-bottom: 2rem;
}

.packagesinclude .box-container .box{
    padding: 3rem 2rem;
    text-align: center;
    background: var(--black);
    cursor: pointer;
}

.packagesinclude .box-container .box:hover{
    background: var(--main-color);
}

.packagesinclude .box-container .box img{
    height: 7em;
}

.packagesinclude .box-container .box h3{
    color: var(--white);
    font-size: 1.7rem;
    padding-top: 1rem;
}

/* Packages Include End */

/* Serivces Start */

.services .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 1.5rem;
    margin-bottom: 2rem;
}

.services .box-container .box{
    padding: 3rem 2rem;
    text-align: center;
    background: var(--black);
    cursor: pointer;
}

.services .box-container .box:hover{
    background: var(--main-color);
}

.services .box-container .box img{
    height: 7em;
}

.services .box-container .box h3{
    color: var(--white);
    font-size: 1.7rem;
    padding-top: 1rem;
}

/* Services End */

/* Birthday Special Start */ 

.home-sign-up{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.home-sign-up .image{
    flex: 1 1 41rem;
}

.home-sign-up .image img{
    width: 100%;
}

.home-sign-up .content{
    flex: 1 1 41rem;
    padding: 1rem;
    background: var(--light-bg);
}

.home-sign-up .content h3{
    font-size: 3rem;
    color: var(--black);
}

.home-sign-up .content p{
    font-size: 1rem;
    color: var(--black);
    padding: 1rem 0;
    line-height: 2;
}

/* Birthday Special End */

/* About Us Start */

.home-about-us{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.home-about-us .image{
    flex: 1 1 41rem;
}

.home-about-us .image img{
    width: 100%;
}

.home-about-us .content{
    flex: 1 1 41rem;
    padding: 3rem;
    background: var(--light-bg);
}

.home-about-us .content h3{
    font-size: 1rem;
    color: var(--black);
}

.home-about-us .content p{
    font-size: 1rem;
    color: var(--black);
    padding: 1rem 0;
    line-height: 2;
}

.about{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
}

.about .image{
    flex: 1 1 41rem;
}

.about .image img{
    width: 100%;
}

.about .content{
    flex:1 1 41rem;
    text-align: center;
}

.about .content h3{
    font-size: 3rem;
    color: var(--black);
}

.about .content p{
    font-size: 0.8rem;
    color: var(--light-black);
    line-height: 2;
    padding: 1rem 0;
}

.about .content .icons-container{
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: flex-end; 
}

.about .content .icons-container .icons{
    background: var(--light-bg);
    padding: 2rem;
    flex: 1 1 8rem;
}

.about .content .icons-container .icons i{
    font-size: 2rem;
    margin-bottom: 1rem;
    color: var(--main-color);
}

.about .content .icons-container .icons span{
    font-size: 1rem;
    color: var(--light-black);
    display: block;
}

/* About Us End */

/* Footer Start */

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 3rem;
}

.footer .box-container .box h3{
    color: var(--main-color);
    font-size: 2rem;
    padding-bottom: 2rem;
}

.footer .box-container .box a{
    color: var(--white);
    font-size: 1rem;
    padding-bottom: 1.5rem;
    display: block; 
}

.footer .box-container .box a i{
    color: var(--main-color);
    padding-right: .5rem;
    transition: .2s linear;
}

.footer .box-container .box a:hover i{
    
    padding-right: 1rem;
}

.footer{
    background: url(../images/footerbackground.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

/* Footer End */

/* Media Queries */

@media (max-width:1200px){

    section{
        padding: 2rem 3%;
    }
}

@media (max-width:990px){

    html{
        font-size: 50%;
    }

    section{
        padding: 2rem 1.5rem;
    }
}

@media (max-width:700px){

    #menu-btn{
        display: inline-block;
        transition: .2s linear;
    }

    #menu-btn.fa-times{
        transform: rotate(360deg);
    }

    .header .navbar{
        position: absolute;
        top: 99%;
        left: 0;
        right: 0;
        background-color: var(--black);
        border-top: var(--border);
        padding: 2rem;
        transition: .2s linear;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    
    .header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    .header .navbar a{
        display: block;
        margin: 2rem;
        text-align: center;
    }
}

@media (max-width:450px){

    html{
        font-size: 45%;
    }

    .services-title{
        font-size: 3rem;
    }

    .packages-title{
        font-size: 3rem;
    }
}